.nav-item{
    text-align: right;
}

#name{
    font-size: 1.8em;
    color: black;
}

body{
    background:white;
}

.container{
    margin-top: 50px;
}

/*.row{
    background-color: rgba(0, 238, 255, .1);
    }

.theFirst{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.theLast{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}*/

.indexContent{
    padding-bottom: 5%;
}

p {
    font-size: 1.1em;
}

a {
    color: black;
}

.footer{
    background: white;
    margin-top: 5%;
    text-align: center;
}

