#name{
    font-size: 1.8em;
    color: black;
}

.nav-item{
    text-align: right;
}

body{
    background: white;
}

.container{
    margin-top: 50px;
}
.row{
    background: white;
    text-align: center;
    }


p {
    font-size: 1.3em;
    text-align: center;
}

#little{
    font-size: 1em;
}

a {
    color: black;
}

.footer{
    background: white;
    margin-top: 5%;
    text-align: center;
}




