#name{
    font-size: 1.8em;
    color: black;
}

a {
    color: black;
}

body{
    background: white;
}

.container{
    margin-top: 50px;
}
.row{
    background: white;
    }

#zoAndMe{
    margin-bottom: 5%;
}

#sleeping{
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer{
    background: white;
    margin-top: 5%;
    text-align: center;
}




